---
layout: simple
permalink: /d3-trip/
title:  "My Pretend Summer Road Trip"
date:   2015-01-22 12:00:00
---
<style>

.stroke {
  fill: none;
  stroke: #000;
  stroke-width: .5;
}
.marker {
  fill: steelblue;
}
.link {
  fill: none;
  stroke: #777;
  stroke-width: 2px;
  //marker-end: url('#pointer');
}
.link.red {
  stroke: red;
}
.link.green {
  stroke: green;
}
.link.blue {
  stroke: blue;
}
.link.firebrick {
  stroke: firebrick;
}
#pointer {
  fill: orange;
}
#map {
  height: 550px;
  width: 960px;
  border: 1px solid green;
}
#info {
  margin-left: 30px;
  font-family: monospace;
}
#controls {
}
#controls label {
  margin-left: 20px;
  font-weight: 400;
}
#per-redraw-controls, #active-controls {
  margin-bottom: 10px;
}
</style>
<div id="controls">
  <div id="per-redraw-controls">
    <label for="tile-servers-control">Map Tile Server</label>
    <select id="tile-servers-control" class="per-redraw-control"></select>

    <label for="trans-duration-control">Transition Duration</label>
    <select id="trans-duration-control" class="per-redraw-control" onchange="setTransitionDuration(this)">
      <option value="500">1/2 S</value>
      <option value="1000" selected>1 S</option>
      <option value="1500">1 1/2 S</option>
      <option value="2000">2 S</option>
    </select>

    <button id="redraw-control" class="per-redraw-control" onclick="redraw()">Redraw</button>
  </div>

  <div id="active-controls">
    <label for="clipping-control">Clip Map</label>
    <input id="clipping-control" type="checkbox" onchange="toggleClipping(this)" checked="true"></input>

    <label for="link-color-control">Link Color</label>
    <select id="link-color-control" onchange="setLinkClass(this)">
      <option value="link">Default (Grey)</option>
      <option value="link red">Red</option>
      <option value="link green">Green</option>
      <option value="link blue">Blue</option>
      <option value="link firebrick">Fire Brick</option>
    </select>
  </div>
</div>

<div id="map"></div>
<br />
<p>
Some learning that uses <a href="http://bl.ocks.org/mbostock/4150951" target="mbostock">http://bl.ocks.org/mbostock/4150951</a> as a starting point.  Learning how to translate lat/lon into points on a map some basics of d3.svg.diagonal and svg paths.
Map tiles fetched from <a href="http://mapbox.com/" target="mapbox">MapBox</a> (<a href="http://mapbox.com/tilemill/gallery/#mapbox.natural-earth-2" target="mapbox">MapBox Natural Earth II</a> raster tiles).
</p>

<br /><br />
<h3>Related Blog Posts</h3>
<ul class="post-list-small">
  {% for post in site.posts %}
  {% if post.d3trip %}
    <li>
      <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

      <h2>
        <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
      </h2>
    </li>
  {% endif %}
  {% endfor %}
</ul>
<script src="http://d3js.org/d3.v3.min.js"></script>
<script src="http://d3js.org/d3.geo.tile.v0.min.js"></script>
<script src="http://d3js.org/topojson.v1.min.js"></script>
<script>

var width = 960,
    height = 500,
    markerR = 7;
    transitionDuration = 1000;

var tileServers = [
  {name: 'OpenStreetMap Standard', baseUrl: function() { return "http://"+["a", "b", "C"][Math.random() * 3 | 0]+".tile.openstreetmap.org/"; }},
  {name: 'MapQuest Open', baseUrl: function() { return "http://otile"+["1", "2", "3", "4"][Math.random() * 4 | 0]+".mqcdn.com/tiles/1.0.0/osm/"; }},
  {name: 'MapQuest Satellite', baseUrl: function() { return "http://ttiles0"+["1", "2", "3", "4"][Math.random() * 4 | 0]+".mqcdn.com/tiles/1.0.0/vy/sat/"}}
];
// add the mapbox servers
['mapbox.natural-earth-2','examples.map-i86nkdio','examples.map-0l53fhk2','examples.map-i87786ca','examples.map-zr0njcqy'].forEach(function(id){
  tileServers.push({name: 'MapBox '+id, baseUrl: function() {return "http://" + ["a", "b", "c", "d"][Math.random() * 4 | 0] + ".tiles.mapbox.com/v3/"+id+"/";}})
});
tileServers.forEach(function(s,i) {
  s.id = i;
});

var randomServerIdx = Math.random() * (tileServers.length-1) | 0;
var controls = d3.select('#tile-servers-control')
    .selectAll('option')
    .data(tileServers)
    .enter()
    .append('option')
    .attr('value',function(d) { return d.id; })
    .attr('selected',function(d) { return randomServerIdx === d.id; })
    .text(function(d) { return d.name; });

var projection = d3.geo.mercator()
    .center([-96, 38.3])
    .scale(890);

var path = d3.geo.path()
    .projection(projection);

var tile = d3.geo.tile()
    .scale(projection.scale() * 2 * Math.PI)
    .translate(projection([0, 0]))
    .zoomDelta((window.devicePixelRatio || 1) - .5);

var map = d3.select("#map");

var svg = map.append("svg")
    .attr("width", width)
    .attr("height", height);
  // add a marker for paths
  svg.append('marker')
     .attr('id','pointer').attr('viewBox','0 0 10 10').attr('refX','0').attr('refY','5')
     .attr('markerUnits','strokeWidth').attr('markerWidth','4').attr('markerHeight','3').attr('orient','auto')
     .append('path').attr('d','M 0 0 L 10 5 L 0 10 z');

var info = map.append('div')
      .attr('id','info');

function toggleClipping(chk) {
  d3.select('#tiles').attr('clip-path',chk.checked ? 'url(#clip)' : null);
}

function setLinkClass(sel) {
  d3.selectAll('.link').attr('class',sel.options[sel.selectedIndex].value);
}

function setTransitionDuration(sel) {
  transitionDuration = parseInt(sel.options[sel.selectedIndex].value);
}

function redraw() {
  d3.selectAll('.per-redraw-control').attr('disabled','true');
  var serverIdx = document.getElementById('tile-servers-control').selectedIndex,
      tiles = tile();
  // for simplicity remove elements and start over
  ['#tiles','#markers','#links'].forEach(function(s){
    d3.select(s).remove();
  });

  svg.append("g")
      .attr('id','tiles')
      .attr("clip-path", function() { return d3.select('#clipping-control').attr('checked') ? 'url(#clip)' : null; })
    .selectAll("image")
      .data(tiles)
    .enter().append("image")
      .attr('class','tile')
      .attr("xlink:href", function(d) {
        return tileServers[serverIdx].baseUrl()+ d[2] + "/" + d[0] + "/" + d[1] + ".png";
      })
      .attr("width", Math.round(tiles.scale))
      .attr("height", Math.round(tiles.scale))
      .attr("x", function(d) { return Math.round((d[0] + tiles.translate[0]) * tiles.scale); })
      .attr("y", function(d) { return Math.round((d[1] + tiles.translate[1]) * tiles.scale); });

  // pause for a short time before animating the trip so that
  // map tiles have a chance to be drawn
  setTimeout(function() {
    animateRoute(svg,info);
  },1500);
}

d3.json("us.json", function(error, topology) {
  var defs = svg.append("defs");

  defs.append("path")
      .attr("id", "land")
      .datum(topojson.feature(topology, topology.objects.land))
      .attr("d", path);

  defs.append("clipPath")
      .attr("id", "clip")
    .append("use")
      .attr("xlink:href", "#land");

  svg.append("use")
      .attr("xlink:href", "#land")
      .attr("class", "stroke");

  redraw();
});

var EARTH_R_M = 3961.0,
    EARTH_R_KM = 6373.0,
    haversine = (function(){
        function deg2rad(deg) {
            rad = deg * Math.PI/180; // radians = degrees * pi/180
            return rad;
        }
        function round(x) {
            return Math.round(x*1000)/1000;
        }
        return function(point1,point2) {
            /*
            dlon = lon2 - lon1
            dlat = lat2 - lat1
            a = (sin(dlat/2))^2 + cos(lat1) * cos(lat2) * (sin(dlon/2))^2
            c = 2 * atan2( sqrt(a), sqrt(1-a) )
            d = R * c (where R is the radius of the Earth)
             */
            var lat1 = deg2rad(point1.lat), lon1 = deg2rad(point1.lon),
                lat2 = deg2rad(point2.lat), lon2 = deg2rad(point2.lon),
                dlon = lon1 - lon2,
                dlat = lat1 - lat2,
                a = Math.pow((Math.sin(dlat/2)),2) + Math.cos(lat1) * Math.cos(lat2) * Math.pow(Math.sin(dlon/2),2),
                c = 2 * Math.atan2(Math.sqrt(a),Math.sqrt(1-a)),
                miles = round(EARTH_R_M*c),
                kilometers = round(EARTH_R_KM*c);
            return {
                miles: miles,
                kilometers: kilometers
            };
        };
    })();

function animateRoute(svg,info) {
  var markerData = [{lon:-91.712,lat:44.125,name:'My House, Fountain City, WI'},
  {lon:-87.635910,lat:41.879120,name:'Willis Tower, Chicago, IL'},
  {lon:-73.996,lat:40.706,name:'Brooklyn Bridge, New York, NY'},
  {lon:-75.985752,lat:35.108810,name:'Ocracoke Lightehouse, Ocracoke Island, Ocracoke NC'},
  {lon:-90.062944,lat:29.957501,name:'Jackson Square, French Quarter, New Orleans, LA'},
  {lon:-97.206249,lat:26.075085,name:'Port Isabel, TX'},
  {lon:-104.989345,lat:39.737431,name:'Denver Art Museum, Denver, CO'},
  {lon:-110.828138,lat:44.460697,name:'Old Faithful, Yellowstone National Park, WY'},
  {lon:-119.533250,lat:37.746463,name:'Half Dome, Yosemite Valley, CA'},
  {lon:-122.478266,lat:37.820162,name:'Golden Gate Bridge, San Francisco, CA'},
  {lon:-124.061599,lat:44.748167,name:'Otter Rock, OR'},
  {lon:-122.349268,lat:47.620728,name:'Space Needle, Seattle, WA'},
  {lon:-113.787022,lat:48.759807,name:'Glacier National Park, West Glacier, MT'},
  {lon:-104.714654,lat:44.590197,name:'Devils Tower National Monument, Devils Tower, WY'},
  {lon:-92.124989,lat:46.776291,name:'Enter Tower, Duluth, MN'},
  {lon:-88.012820,lat:47.395122,name:'Mount Bohemia, Grant, MI'},
  {lon:-93.272399,lat:44.976248,name:'IDS Tower, Minneapolis, MN'},
  {lon:-91.712,lat:44.125,name:'My House, Fountain City, WI'}
  ].map(function(d,i){
        d.id = i;
        var xy = projection([d.lon,d.lat]);
        d.x = xy[0];
        d.y = xy[1];
        return d;
      });

  var markers = svg.append('g').attr('id','markers'),
      enter = markers.selectAll('.marker')
         .data(markerData,function(d){ return d.id; })
         .enter(),
      circles = enter.append('circle')
           .attr('class','marker')
           .attr('id',function(d) { return d.id; })
           .attr('cx',function(d) {
            return d.x;
           })
           .attr('cy',function(d) {
            return d.y;
          })
          .on('mouseover',function(d){info.text(d.name);})
          .on("mouseout", function(d){info.text("");});
      circles.append('title').text(function(d) { return d.name; });
      circles.attr('r',0)
          .transition()
          .delay(function(d){return d.id*transitionDuration; })
          .duration(transitionDuration)
          .attr('r',function(d) { return markerR; });



  var linkData = markerData.reduce(function(data,tgt,i,a){
    if(i > 0) {
      var src = a[i-1],
          nd = {
            id: i,
            source: {x: (src.x+((src.x>tgt.x?-1:1)*markerR)), y: src.y, point: src},
            target: {x: (tgt.x+((src.x>tgt.x?1:-1)*markerR)), y: tgt.y, point: tgt}
          };
          data.push(nd);
    }
    return data;
  },[]);

  var diagonal = d3.svg.diagonal()
      .source(function(d) { return {"x":d.source.y, "y":d.source.x}; })
      .target(function(d) { return {"x":d.target.y, "y":d.target.x}; })
      .projection(function(d) { return [d.y, d.x]; });
  var colorCtrl = document.getElementById('link-color-control'),
      linkClass = colorCtrl.options[colorCtrl.selectedIndex].value;
  var link = svg.append("g")
    .attr('id','links')
    .selectAll('.link')
    .data(linkData)
    .enter()
    .append('path')
    .attr('class',function() { return linkClass; })
    .attr('d',diagonal);

  link.each(function(d){
    d.totalLength = this.getTotalLength();
  });
  var asTheCrowFlies = 0,
      miFormat = d3.format(".2f");
  link
    .attr("stroke-dasharray", function(d) { return d.totalLength + " " + d.totalLength; })
    .attr("stroke-dashoffset", function(d) { return d.totalLength; })
    .transition()
      // add pointer only upon completion of animation.
      .each('end',function(d){
        d3.select(this).attr('marker-end','url(#pointer)');
        /*
        console.debug('distance',d,
          d3.geo.distance([d.source.point.lon,d.source.point.lat],[d.target.point.lon,d.target.point.lat]),
          haversine(d.source.point,d.target.point));*/
        asTheCrowFlies += haversine(d.source.point,d.target.point).miles;
        info.text(d.target.point.name+ ' (As the crow flies '+miFormat(asTheCrowFlies)+' miles)');
        if(d.id === linkData.length) {
          d3.selectAll('.per-redraw-control').attr('disabled',null);
        }
      })
      .delay(function(d) { return d.id*transitionDuration; })
      .duration(transitionDuration)
      .ease("linear")
      .attr("stroke-dashoffset", 0);
}
</script>
