<footer class="site-footer">

  <div class="simple-wrapper">

    <h2 class="footer-heading">{{ site.title }}</h2>

    <div class="footer-col-wrapper">
      <div class="footer-col  footer-col-1">
        <ul class="contact-list">
          <li>{{ site.title }}</li>
          <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
          <li><a href="mailto:{{ site.email1 }}">{{ site.email1 }}</a></li>
          <li><a href="{{ site.ext_site }}">{{ site.ext_site }}</a></li>
        </ul>
      </div>

      <div class="footer-col  footer-col-2">
        {% include social.html %}
      </div>

      <div class="footer-col  footer-col-3">
        <p class="text">{{ site.description }}</p>
      </div>
    </div>

  </div>

</footer>
