<ul class="social-media-list">
  {% if site.github_username %}
  <li>
    <a href="https://github.com/{{ site.github_username }}" target="_blank">
      <span class="icon  icon--github">
        <i class="fa fa-github"></i>
      </span>

      <span class="username">{{ site.github_username }}</span>
    </a>
  </li>
  {% endif %}

  {% if site.twitter_username %}
  <li>
    <a href="https://twitter.com/{{ site.twitter_username }}" target="_blank">
      <span class="icon  icon--twitter">
        <i class="fa fa-twitter"></i>
      </span>

      <span class="username">{{ site.twitter_username }}</span>
    </a>
  </li>
  {% endif %}

  <li>
    <a href="https://plus.google.com/101850581087986482574/posts" target="_blank">
      <span class="icon  icon--twitter">
        <i class="fa fa-google-plus"></i>
      </span>

      <span class="username">adamspe</span>
    </a>
  </li>

  <li>
    <a href="https://www.linkedin.com/pub/paul-adams/2/bb9/890" target="_blank">
      <span class="icon  icon--twitter">
        <i class="fa fa-linkedin"></i>
      </span>

      <span class="username">Paul Adams</span>
    </a>
  </li>

  <li>
    <a href="https://www.flickr.com/people/paul-adams/" target="_blank">
      <span class="icon  icon--twitter">
        <i class="fa fa-flickr"></i>
      </span>

      <span class="username">adamspe</span>
    </a>
  </li>
</ul>